$COLOR_BG: #FAFAFA;
$COLOR_BG_DARKER: #F6F6F6;
$COLOR_LINE: rgba(213,213,213,50);

$STATUSBAR_HEIGHT:20px;
$NAVBAR_HEIGHT: 80px - $STATUSBAR_HEIGHT;
$TABBAR_HEIGHT:50px;

$BORDER_RADIUS:4px;

$TRANSITION_SPEED: 0.2s;