<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.ActivityMapper">

	<resultMap id="BaseResultMap" type="com.inHere.entity.Activity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="ext_type" property="extType" jdbcType="INTEGER" />
		<result column="ext_data" property="extData" jdbcType="CHAR" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="cover_img" property="coverImg" jdbcType="VARCHAR" />
		<result column="url_type" property="urlType" jdbcType="TINYINT" />
		<result column="url_content" property="urlContent" jdbcType="LONGVARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="praise" property="praise" jdbcType="CHAR" />
	</resultMap>

	<resultMap id="IncludeUserResultMap" type="com.inHere.entity.Activity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="ext_type" property="extType" jdbcType="INTEGER" />
		<result column="ext_data" property="extData" jdbcType="CHAR" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="cover_img" property="coverImg" jdbcType="VARCHAR" />
		<result column="url_type" property="urlType" jdbcType="TINYINT" />
		<result column="url_content" property="urlContent" jdbcType="LONGVARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="praise" property="praise" jdbcType="CHAR" />
		<association property="user" javaType="User">
			<id column="user_id" property="userId" jdbcType="VARCHAR" />
			<result column="user_name" property="userName" jdbcType="VARCHAR" />
			<result column="head_img" property="headImg" jdbcType="VARCHAR" />
			<result column="contact_way" property="contactWay" jdbcType="CHAR" />
			<result column="sex" property="sex" jdbcType="INTEGER" />
			<result column="area" property="area" jdbcType="VARCHAR" />
			<result column="school_id" property="schoolId" jdbcType="INTEGER" />
			<result column="role_id" property="roleId" jdbcType="INTEGER" />
		</association>
	</resultMap>

	<sql id="Base_Column_List">
		id, title, ext_type, ext_data, start_time, end_time,
		cover_img, url_type, url_content
		user_id,
		create_time, update_time,
		praise
	</sql>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_activity
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.inHere.entity.Activity">
		insert into tb_activity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="extType != null">
				ext_type,
			</if>
			<if test="extData != null">
				ext_data,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="coverImg != null">
				cover_img,
			</if>
			<if test="urlType != null">
				url_type,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="praise != null">
				praise,
			</if>
			<if test="urlContent != null">
				url_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="extType != null">
				#{extType,jdbcType=INTEGER},
			</if>
			<if test="extData != null">
				#{extData,jdbcType=CHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="coverImg != null">
				#{coverImg,jdbcType=VARCHAR},
			</if>
			<if test="urlType != null">
				#{urlType,jdbcType=TINYINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="praise != null">
				#{praise,jdbcType=CHAR},
			</if>
			<if test="urlContent != null">
				#{urlContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.inHere.entity.Activity">
		update tb_activity
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="extType != null">
				ext_type = #{extType,jdbcType=INTEGER},
			</if>
			<if test="extData != null">
				ext_data = #{extData,jdbcType=CHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="coverImg != null">
				cover_img = #{coverImg,jdbcType=VARCHAR},
			</if>
			<if test="urlType != null">
				url_type = #{urlType,jdbcType=TINYINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="praise != null">
				praise = #{praise,jdbcType=CHAR},
			</if>
			<if test="urlContent != null">
				url_content = #{urlContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 获取一条活动详细 -->
	<select id="selectByPrimaryKey" resultMap="IncludeUserResultMap"
		parameterType="java.lang.Integer">
		select *
		from tb_activity ac
		LEFT JOIN tb_user u ON(ac.`user_id` = u.`user_id`)
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 活动列表 -->
	<select id="selectActivityList" resultMap="IncludeUserResultMap">
		SELECT *
		FROM tb_activity ac
		LEFT JOIN tb_user u ON(ac.`user_id` = u.`user_id`)
		WHERE u.`school_id` = #{tokenEntity.school_id}
		AND ac.`end_time` >
		NOW()
		ORDER BY ac.`start_time` ASC
		LIMIT #{offset}, #{limit}
	</select>

	<!-- 获取活动及广告的总条数 -->
	<select id="getCount" resultType="Integer">
		SELECT COUNT(*) FROM
		tb_activity ac
		LEFT JOIN tb_user u ON(ac.`user_id` = u.`user_id`)
		WHERE
		u.`school_id` = #{school_id}
		AND ac.`end_time` > NOW()
	</select>

	<!-- 点赞销赞 -->
	<update id="praise">
		UPDATE tb_activity a SET a.`praise` =
		(
		SELECT CASE
		WHEN json_contains_path(praise, 'one', '$.${user_id}') = 1 THEN json_remove(praise, '$.${user_id}')
		ELSE json_set(praise, '$.${user_id}', 1) END
		FROM (SELECT praise FROM tb_activity WHERE id = #{id}) AS tb
		)
		WHERE a.`id` = #{id}
	</update>

</mapper>
