<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.AskReplyMapper">

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_ask_reply
		where id = #{id,jdbcType=INTEGER}
	</delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.inHere.entity.AskReply">
        update tb_ask_reply
        <set>
            <if test="extType != null">
                ext_type = #{extType,jdbcType=INTEGER},
            </if>
            <if test="extData != null">
                ext_data = #{extData,jdbcType=CHAR},
            </if>
            <if test="labelId != null">
                label_id = #{labelId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="photos != null">
                photos = #{photos,jdbcType=VARCHAR},
            </if>
            <if test="commentNum != null">
                comment_num = #{commentNum,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="praise != null">
                praise = #{praise,jdbcType=CHAR},
            </if>
            <if test="low != null">
                low = #{low,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <!-- 关联Label的AskReply对象 -->
    <resultMap id="AssociatedResultMap" type="com.inHere.entity.AskReply">
        <id column="a_id" property="id" jdbcType="INTEGER"/>
        <result column="a_ext_type" property="extType" jdbcType="INTEGER"/>
        <result column="a_ext_data" property="extData" jdbcType="CHAR"/>
        <result column="a_label_id" property="labelId" jdbcType="INTEGER"/>
        <result column="a_title" property="title" jdbcType="VARCHAR"/>
        <result column="a_content" property="content" jdbcType="VARCHAR"/>
        <result column="a_photos" property="photos" jdbcType="VARCHAR"/>
        <result column="a_user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="a_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="a_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="a_praise" property="praise" jdbcType="CHAR"/>
        <result column="a_low" property="low" jdbcType="CHAR"/>
        <association property="label" javaType="Label">
            <id column="lab_id" property="id"/>
            <result column="lab_name" property="name"/>
        </association>
    </resultMap>

    <sql id="AskReply_Column_List">
        a.id a_id,
        a.ext_type a_ext_type,
        a.ext_data a_ext_data,
        a.label_id a_label_id,
        a.title a_title,
        a.content a_content,
        a.photos a_photos,
        a.user_id a_user_id,
        a.create_time a_create_time,
        a.update_time a_update_time,
        a.praise a_praise,
        a.low a_low
    </sql>
    <sql id="Label_Column_List">
        lab.id lab_id,
        lab.name lab_name
    </sql>


    <!-- 插入一条吐槽或问答 -->
    <insert id="insertSelective" parameterType="com.inHere.entity.AskReply">
        insert into tb_ask_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="extType != null">
                ext_type,
            </if>
            <if test="extData != null">
                ext_data,
            </if>
            <if test="labelId != null">
                label_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="photos != null">
                photos,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="true">
                create_time,
            </if>
            <if test="praise != null">
                praise,
            </if>
            <if test="low != null">
                low,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="extType != null">
                #{extType},
            </if>
            <if test="extData != null">
                #{extData},
            </if>
            <if test="labelId != null">
                #{labelId},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="photos != null">
                #{photos},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="true">
                now(),
            </if>
            <if test="praise != null">
                #{praise},
            </if>
            <if test="low != null">
                #{low},
            </if>
        </trim>
    </insert>

    <!-- 查找列表 -->
    <select id="selectList" resultMap="AssociatedResultMap">
        SELECT
        <include refid="AskReply_Column_List"></include>,
        <include refid="Label_Column_List"></include>
        FROM tb_ask_reply a
        LEFT JOIN tb_label lab ON( a.`label_id` = lab.`id` )
        LEFT JOIN tb_user u ON( a.`user_id` = u.`user_id` )
        WHERE a.`ext_type` = #{type}
        <if test="label_id != null">
            AND a.`label_id` = #{label_id}
        </if>
        <if test="tokenEntity.school_id != null and type == 10">
            AND u.`school_id` = #{tokenEntity.school_id}
        </if>
        <if test="creator != null">
            AND a.`user_id` = #{creator}
        </if>
        ORDER BY a.`create_time` DESC
        limit #{offset}, #{limit}
    </select>

    <!-- 获取校内吐槽、校外吐槽或问答的记录总数 -->
    <select id="getCount" resultType="Integer">
        SELECT COUNT(*) FROM
        tb_ask_reply a
        WHERE a.`ext_type` = #{type}
        <if test="label_id != null">
            AND a.`label_id` = #{label_id}
        </if>
        <if test="creator != null">
            AND a.`user_id` = #{creator}
        </if>
    </select>

    <!-- 获取一条吐槽或问答 -->
    <select id="selectOne" resultMap="AssociatedResultMap">
        SELECT
        <include refid="AskReply_Column_List"></include>
        ,
        <include refid="Label_Column_List"></include>
        FROM tb_ask_reply a
        LEFT JOIN tb_label lab ON( a.`label_id` = lab.`id` )
        WHERE a.`id` = #{item_id}
    </select>



</mapper>