<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.CommentMapper">

	<resultMap id="BaseResultMap" type="com.inHere.entity.Comment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ext_type" property="extType" jdbcType="INTEGER" />
		<result column="record_id" property="recordId" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="low" property="low" jdbcType="CHAR" />
		<result column="praise" property="praise" jdbcType="CHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, ext_type, record_id, content, user_id, name,
		create_time,
		update_time,
		low,
		praise
	</sql>

	<!-- 插入一条评论 -->
	<insert id="insertComment">
		INSERT INTO tb_comment SET
		ext_type = #{comment.ext_type},
		record_id = #{comment.item_id},
		content = #{comment.content},
		user_id = #{user_id},
		name = #{name},
		create_time = NOW(),
		low = '{}',
		praise = '{}'
	</insert>

	<!-- 获取总条数 -->
	<select id="getCount" resultType="Integer">
		SELECT COUNT(*) FROM tb_comment c
		WHERE c.`record_id` = #{record_id}
		AND c.`ext_type` = #{ext_type}
	</select>

	<!-- 获取评论列表 -->
	<select id="selectList" resultMap="BaseResultMap">
		SELECT * FROM tb_comment c
		WHERE ext_type = #{type} AND record_id = #{item_id}
		ORDER BY c.`create_time` DESC
		LIMIT #{offset}, #{limit}
	</select>

	<!-- 获取最火的评论 -->
	<select id="selectBestComment" resultMap="BaseResultMap">
		SELECT * FROM tb_comment c
		WHERE c.`ext_type` = #{type} AND c.`record_id` = #{record_id}
		AND JSON_LENGTH(c.`praise`) = 
		(SELECT MAX(JSON_LENGTH(co.`praise`)) FROM tb_comment co WHERE co.`ext_type` = #{type} AND co.`record_id` = #{record_id} )
		LIMIT 0, 1
	</select>

</mapper>