<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.DemandMapper">

	<resultMap id="BaseResultMap" type="com.inHere.entity.Demand">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ext_type" property="extType" jdbcType="INTEGER" />
		<result column="ext_data" property="extData" jdbcType="CHAR" />
		<result column="text" property="text" jdbcType="VARCHAR" />
		<result column="photos" property="photos" jdbcType="CHAR" />
		<result column="is_end" property="isEnd" jdbcType="TINYINT" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="praise" property="praise" jdbcType="CHAR" />
	</resultMap>

	<resultMap type="Demand" id="IncludeCommentsResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ext_type" property="extType" jdbcType="INTEGER" />
		<result column="ext_data" property="extData" jdbcType="CHAR" />
		<result column="text" property="text" jdbcType="VARCHAR" />
		<result column="photos" property="photos" jdbcType="CHAR" />
		<result column="is_end" property="isEnd" jdbcType="TINYINT" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="praise" property="praise" jdbcType="CHAR" />
		<!-- 评论列表 -->
		<collection property="comments" ofType="Comment">
			<id column="c_id" property="id" jdbcType="INTEGER" />
			<result column="c_ext_type" property="extType" jdbcType="INTEGER" />
			<result column="c_record_id" property="recordId" jdbcType="INTEGER" />
			<result column="c_content" property="content" jdbcType="VARCHAR" />
			<result column="c_user_id" property="userId" jdbcType="VARCHAR" />
			<result column="c_name" property="name" jdbcType="VARCHAR" />
			<result column="c_create_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="c_update_time" property="updateTime" jdbcType="TIMESTAMP" />
			<result column="c_low" property="low" jdbcType="CHAR" />
			<result column="c_praise" property="praise" jdbcType="CHAR" />
			<result column="c_floor" property="floor" jdbcType="INTEGER" />
		</collection>
	</resultMap>

	<sql id="Comment_Column_List">
		c.id c_id,
		c.ext_type c_ext_type,
		c.record_id c_record_id,
		c.content c_content,
		c.user_id c_user_id,
		c.name c_name,
		c.create_time
		c_create_time,
		c.update_time c_update_time,
		c.low c_low,
		c.praise
		c_praise,
		c.floor c_floor
	</sql>

	<sql id="Base_Column_List">
		id ,
		ext_type,
		ext_data,
		text,
		photos,
		is_end,
		user_id,
		create_time,
		update_time,
		praise
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_demand
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_demand
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective">
		insert into tb_demand
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="demand.extType != null">
				ext_type,
			</if>
			<if test="ext_data != null">
				ext_data,
			</if>
			<if test="demand.text != null">
				text,
			</if>
			<if test="demand.photos != null">
				photos,
			</if>
			<if test="demand.isEnd != null">
				is_end,
			</if>
			<if test="demand.userId != null">
				user_id,
			</if>
			<if test="true">
				create_time,
			</if>
			<if test="demand.praise != null">
				praise,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="demand.extType != null">
				#{demand.extType,jdbcType=INTEGER},
			</if>
			<if test="ext_data != null">
				json_object( "price", #{ext_data.price}, "original_price", #{ext_data.original_price}, "quality", #{ext_data.quality}, "buy_time", #{ext_data.buy_time} ),
			</if>
			<if test="demand.text != null">
				#{demand.text,jdbcType=VARCHAR},
			</if>
			<if test="demand.photos != null">
				#{demand.photos,jdbcType=CHAR},
			</if>
			<if test="demand.isEnd != null">
				#{demand.isEnd,jdbcType=TINYINT},
			</if>
			<if test="demand.userId != null">
				#{demand.userId,jdbcType=VARCHAR},
			</if>
			<if test="true">
				now(),
			</if>
			<if test="demand.praise != null">
				#{demand.praise,jdbcType=CHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.inHere.entity.Demand">
		update tb_demand
		<set>
			<if test="extType != null">
				ext_type = #{extType,jdbcType=INTEGER},
			</if>
			<if test="extData != null">
				ext_data = #{extData,jdbcType=CHAR},
			</if>
			<if test="text != null">
				text = #{text,jdbcType=VARCHAR},
			</if>
			<if test="photos != null">
				photos = #{photos,jdbcType=CHAR},
			</if>
			<if test="isEnd != null">
				is_end = #{isEnd,jdbcType=TINYINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="praise != null">
				praise = #{praise,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 获取列表 -->
	<select id="selectByParams" parameterType="ParamsListDto"
		resultMap="BaseResultMap">
		select d.*
		from tb_demand d
		<if test="tokenEntity.school_id != null">
			, tb_user u
		</if>
		<where>
			<if test="tokenEntity.school_id != null">
				d.`user_id` = u.`user_id` and u.`school_id` =
				#{tokenEntity.school_id}
			</if>
			<if test="ext_type != null">
				<foreach collection="ext_type" item="item" open="AND d.`ext_type` in("
					close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="is_end != null">
				AND d.`is_end` = #{is_end}
			</if>
			<if test="creator != null">
				AND d.`user_id` = #{creator}
			</if>
		</where>
		<!-- ${}需要做参数转换，有sql注入危险 -->
		<if test="order_by != null and order != null">
			order by d.`${order_by}` ${order}
		</if>
		<if test="order_by == null">
			order by d.`create_time` desc
		</if>
		limit #{offset}, #{limit}
	</select>

	<!-- 获取总条数 -->
	<select id="getCount" parameterType="ParamsListDto" resultType="Integer">
		SELECT COUNT(d.`id`) FROM tb_demand d
		<if test="tokenEntity.school_id != null">
			, tb_user u
		</if>
		<where>
			<if test="tokenEntity.school_id != null">
				d.`user_id` = u.`user_id` and u.`school_id` =
				#{tokenEntity.school_id}
			</if>
			<if test="ext_type != null">
				<foreach collection="ext_type" item="item" open="AND d.`ext_type` in("
					close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="is_end != null">
				AND d.`is_end` = #{is_end}
			</if>
			<if test="creator != null">
				AND d.`user_id` = #{creator}
			</if>
		</where>
	</select>

	<!-- 通过ID获取一条需求 -->
	<select id="selectOneById" resultMap="IncludeCommentsResultMap">
		SELECT
		d.*,
		<include refid="Comment_Column_List"></include>
		FROM tb_demand d
		left join tb_comment c on( d.`id` = c.`record_id` and d.`ext_type` = c.`ext_type` )
		WHERE d.`id` = #{item_id}
		order by c.`create_time` desc
		limit #{offset}, #{limit}
	</select>



</mapper>