<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.DemandMapper">

	<resultMap id="BaseResultMap" type="com.inHere.entity.Demand">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ext_type" property="extType" jdbcType="INTEGER" />
		<result column="ext_data" property="extData" jdbcType="CHAR" />
		<result column="text" property="text" jdbcType="VARCHAR" />
		<result column="photos" property="photos" jdbcType="CHAR" />
		<result column="is_end" property="isEnd" jdbcType="TINYINT" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="praise" property="praise" jdbcType="CHAR" />
	</resultMap>

	<resultMap type="Demand" id="IncludeCommentsResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ext_type" property="extType" jdbcType="INTEGER" />
		<result column="ext_data" property="extData" jdbcType="CHAR" />
		<result column="text" property="text" jdbcType="VARCHAR" />
		<result column="photos" property="photos" jdbcType="CHAR" />
		<result column="is_end" property="isEnd" jdbcType="TINYINT" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="praise" property="praise" jdbcType="CHAR" />
		<!-- 评论列表 -->
		<collection property="comments" ofType="Comment">
			<id column="id" property="id" jdbcType="INTEGER" />
			<result column="ext_type" property="extType" jdbcType="INTEGER" />
			<result column="record_id" property="recordId" jdbcType="INTEGER" />
			<result column="content" property="content" jdbcType="VARCHAR" />
			<result column="user_id" property="userId" jdbcType="VARCHAR" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
			<result column="low" property="low" jdbcType="CHAR" />
			<result column="praise" property="praise" jdbcType="CHAR" />
			<result column="floor" property="floor" jdbcType="INTEGER" />
		</collection>
	</resultMap>

	<sql id="Base_Column_List">
		id ,
		ext_type,
		ext_data,
		text,
		photos,
		is_end,
		user_id,
		create_time,
		update_time,
		praise
	</sql>

	<sql id="Demand_Column_alias">
		id demand_id,
		ext_type demand_ext_type,
		ext_data demand_ext_data,
		text demand_text,
		photos demand_photos,
		is_end demand_,
		user_id demand_,
		create_time demand_,
		update_time demand_,
		praise demand_
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_demand
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_demand
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.inHere.entity.Demand">
		insert into tb_demand
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="extType != null">
				ext_type,
			</if>
			<if test="extData != null">
				ext_data,
			</if>
			<if test="text != null">
				text,
			</if>
			<if test="photos != null">
				photos,
			</if>
			<if test="isEnd != null">
				is_end,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="praise != null">
				praise,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="extType != null">
				#{extType,jdbcType=INTEGER},
			</if>
			<if test="extData != null">
				#{extData,jdbcType=CHAR},
			</if>
			<if test="text != null">
				#{text,jdbcType=VARCHAR},
			</if>
			<if test="photos != null">
				#{photos,jdbcType=CHAR},
			</if>
			<if test="isEnd != null">
				#{isEnd,jdbcType=TINYINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="praise != null">
				#{praise,jdbcType=CHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.inHere.entity.Demand">
		update tb_demand
		<set>
			<if test="extType != null">
				ext_type = #{extType,jdbcType=INTEGER},
			</if>
			<if test="extData != null">
				ext_data = #{extData,jdbcType=CHAR},
			</if>
			<if test="text != null">
				text = #{text,jdbcType=VARCHAR},
			</if>
			<if test="photos != null">
				photos = #{photos,jdbcType=CHAR},
			</if>
			<if test="isEnd != null">
				is_end = #{isEnd,jdbcType=TINYINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="praise != null">
				praise = #{praise,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 获取列表 -->
	<select id="selectByParams" parameterType="ParamsListDto"
		resultMap="BaseResultMap">
		select d.*
		from tb_demand d
		<if test="user != null">
			, tb_user u
		</if>
		<where>
			<if test="user != null">
				d.`user_id` = u.`user_id` and u.`school_id` =
				#{user.schoolId}
			</if>
			<if test="ext_type != null">
				<foreach collection="ext_type" item="item" open="AND d.`ext_type` in("
					close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="is_end != null">
				AND d.`is_end` = #{is_end}
			</if>
			<if test="creator != null">
				AND d.`user_id` = #{creator}
			</if>
		</where>

		<!-- ${}需要做参数转换，有sql注入危险 -->
		<if test="order_by != null and order != null">
			order by d.`${order_by}` ${order}
		</if>
		<if test="order_by == null">
			order by d.`create_time` desc
		</if>
	</select>

	<!-- 获取总条数 -->
	<select id="getCount" parameterType="ParamsListDto" resultType="Integer">
		SELECT COUNT(d.`id`) FROM tb_demand d
		<if test="user != null">
			, tb_user u
		</if>
		<where>
			<if test="user != null">
				d.`user_id` = u.`user_id` and u.`school_id` =
				#{user.schoolId}
			</if>
			<if test="ext_type != null">
				<foreach collection="ext_type" item="item" open="AND d.`ext_type` in("
					close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="is_end != null">
				AND d.`is_end` = #{is_end}
			</if>
			<if test="creator != null">
				AND d.`user_id` = #{creator}
			</if>
		</where>
	</select>

	<!-- 通过ID获取一条需求 -->
	<select id="selectOneById" resultMap="IncludeCommentsResultMap">
		SELECT
		d.*, c.*
		FROM
		tb_demand d, tb_comment c
		WHERE d.`id` = #{id} AND d.`ext_type` =
		c.`ext_type`
	</select>

</mapper>