<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.LabelMapper">

	<resultMap id="BaseResultMap" type="com.inHere.entity.Label">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,
		name
	</sql>

	<!-- 获取最火的标签 -->
	<select id="selectHotLabel" resultMap="BaseResultMap">
		SELECT lab.`id` AS id, lab.`name` AS NAME, COUNT(ar.`label_id`) AS num
		FROM tb_ask_reply ar
		LEFT JOIN tb_label lab ON( lab.`id` = ar.`label_id` )
		WHERE ar.`ext_type` = #{type}
		GROUP BY ar.`label_id`
		ORDER BY num DESC
		LIMIT #{offset}, #{limit}
	</select>


</mapper>