<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.LabelMapper">

	<resultMap id="BaseResultMap" type="Label">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="comment_num" property="comment_num" jdbcType="INTEGER" />
	</resultMap>

	<!-- 获取最火的标签, 排除小道消息 lab.`id` != 1（程序控制默认首位） -->
	<select id="selectHotLabel" resultMap="BaseResultMap">
		SELECT ar.`label_id` AS id, lab.`name` AS name , COUNT(c.`id`)  AS comment_num
		FROM tb_ask_reply AS ar
		LEFT JOIN tb_label lab ON ( lab.`id` = ar.`label_id` )
		LEFT JOIN tb_comment c ON( c.`ext_type` = ar.`ext_type` AND c.`record_id` = ar.`id` )
		WHERE ar.`ext_type` = #{type} AND lab.`id` != 1
		GROUP BY ar.`label_id`
		ORDER BY comment_num DESC
		LIMIT #{offset}, #{limit}
	</select>

</mapper>