<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.TargetListUserMapper" >
  <resultMap id="BaseResultMap" type="com.inHere.entity.TargetListUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="target_list_id" property="targetListId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_pass" property="isPass" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, target_list_id, user_id, is_pass
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_target_list_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_target_list_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.inHere.entity.TargetListUser" >
    insert into tb_target_list_user (id, target_list_id, user_id, 
      is_pass)
    values (#{id,jdbcType=INTEGER}, #{targetListId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, 
      #{isPass,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.inHere.entity.TargetListUser" >
    insert into tb_target_list_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="targetListId != null" >
        target_list_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isPass != null" >
        is_pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="targetListId != null" >
        #{targetListId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isPass != null" >
        #{isPass,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inHere.entity.TargetListUser" >
    update tb_target_list_user
    <set >
      <if test="targetListId != null" >
        target_list_id = #{targetListId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isPass != null" >
        is_pass = #{isPass,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inHere.entity.TargetListUser" >
    update tb_target_list_user
    set target_list_id = #{targetListId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      is_pass = #{isPass,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>