<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inHere.dao.TargetListMapper">
  <resultMap id="BaseResultMap" type="com.inHere.entity.TargetList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="ext_type" jdbcType="INTEGER" property="extType" />
    <result column="ext_data" jdbcType="CHAR" property="extData" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="praise" jdbcType="CHAR" property="praise" />
    <result column="low" jdbcType="CHAR" property="low" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, text, ext_type, ext_data, user_id, create_time, update_time, praise, low
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_target_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_target_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.inHere.entity.TargetList">
    insert into tb_target_list (id, title, text, 
      ext_type, ext_data, user_id, 
      create_time, update_time, praise, 
      low)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, 
      #{extType,jdbcType=INTEGER}, #{extData,jdbcType=CHAR}, #{userId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{praise,jdbcType=CHAR}, 
      #{low,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.inHere.entity.TargetList">
    insert into tb_target_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="extType != null">
        ext_type,
      </if>
      <if test="extData != null">
        ext_data,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="praise != null">
        praise,
      </if>
      <if test="low != null">
        low,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="extType != null">
        #{extType,jdbcType=INTEGER},
      </if>
      <if test="extData != null">
        #{extData,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="praise != null">
        #{praise,jdbcType=CHAR},
      </if>
      <if test="low != null">
        #{low,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inHere.entity.TargetList">
    update tb_target_list
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="extType != null">
        ext_type = #{extType,jdbcType=INTEGER},
      </if>
      <if test="extData != null">
        ext_data = #{extData,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="praise != null">
        praise = #{praise,jdbcType=CHAR},
      </if>
      <if test="low != null">
        low = #{low,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inHere.entity.TargetList">
    update tb_target_list
    set title = #{title,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      ext_type = #{extType,jdbcType=INTEGER},
      ext_data = #{extData,jdbcType=CHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      praise = #{praise,jdbcType=CHAR},
      low = #{low,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.inHere.entity.TargetList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="ext_type" jdbcType="INTEGER" property="extType" />
    <result column="ext_data" jdbcType="VARCHAR" property="extData" />
    <result column="process" jdbcType="VARCHAR" property="process" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="praise" jdbcType="CHAR" property="praise" />
    <result column="low" jdbcType="CHAR" property="low" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, ext_type, ext_data, process, user_id, create_time, update_time, praise, 
    low
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_target_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_target_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.inHere.entity.TargetList">
    insert into tb_target_list (id, title, ext_type, 
      ext_data, process, user_id, 
      create_time, update_time, praise, 
      low)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{extType,jdbcType=INTEGER}, 
      #{extData,jdbcType=VARCHAR}, #{process,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{praise,jdbcType=CHAR}, 
      #{low,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.inHere.entity.TargetList">
    insert into tb_target_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="extType != null">
        ext_type,
      </if>
      <if test="extData != null">
        ext_data,
      </if>
      <if test="process != null">
        process,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="praise != null">
        praise,
      </if>
      <if test="low != null">
        low,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="extType != null">
        #{extType,jdbcType=INTEGER},
      </if>
      <if test="extData != null">
        #{extData,jdbcType=VARCHAR},
      </if>
      <if test="process != null">
        #{process,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="praise != null">
        #{praise,jdbcType=CHAR},
      </if>
      <if test="low != null">
        #{low,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inHere.entity.TargetList">
    update tb_target_list
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="extType != null">
        ext_type = #{extType,jdbcType=INTEGER},
      </if>
      <if test="extData != null">
        ext_data = #{extData,jdbcType=VARCHAR},
      </if>
      <if test="process != null">
        process = #{process,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="praise != null">
        praise = #{praise,jdbcType=CHAR},
      </if>
      <if test="low != null">
        low = #{low,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inHere.entity.TargetList">
    update tb_target_list
    set title = #{title,jdbcType=VARCHAR},
      ext_type = #{extType,jdbcType=INTEGER},
      ext_data = #{extData,jdbcType=VARCHAR},
      process = #{process,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      praise = #{praise,jdbcType=CHAR},
      low = #{low,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>