<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.TbBegHelpMapper">

	<sql id="notNullProperties">
		<trim prefix=" (" suffix=") " suffixOverrides=",">
			<if test="lableId != null">
				lable_id,
			</if>
			<if test="labelData != null">
				label_data,
			</if>
			<if test="wordDesc != null">
				word_desc,
			</if>
			<if test="picDesc != null">
				pic_desc,
			</if>
			<if test="hasResolved != null">
				has_resolved,
			</if>
			<if test="userIdBeg != null">
				user_id_beg,
			</if>
			create_time,
		</trim>
	</sql>

	<sql id="notNullValues">
		<trim prefix=" values (" suffix=") " suffixOverrides=",">
			<if test="lableId != null">
				#{lableId},
			</if>
			<if test="labelData != null">
				#{labelData},
			</if>
			<if test="wordDesc != null">
				#{wordDesc},
			</if>
			<if test="picDesc != null">
				#{picDesc},
			</if>
			<if test="hasResolved != null">
				#{hasResolved},
			</if>
			<if test="userIdBeg != null">
				#{userIdBeg},
			</if>
			NOW()
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="insertOneBegHelp" parameterType="TbBegHelp">
		insert into tb_beg_help
		<include refid="notNullProperties"></include>
		<include refid="notNullValues"></include>
	</insert>

	<!-- 查找记录 -->
	<select id="selectTasksList" resultType="TbBegHelp">
		select * from tb_beg_help
		<where>
			<if test="lable_ids != null">
				<!-- 实现“ select * from table where id in(1,2,3)”拼接 -->
				<foreach collection="lable_ids" item="item" open=" and lable_id in ("
					close=") " separator=",">
					#{item}
				</foreach>
			</if>
			<if test="filter_end != null">
				and has_resolved = #{filter_end, jdbcType=INTEGER}
			</if>
		</where>
		<if test="sort_time == 0 or sort_time == null">
			order by create_time desc
		</if>
		<if test="sort_time == 1">
			order by create_time asc
		</if>
		limit #{offset}, #{limit}
	</select>

</mapper>