<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inHere.dao.ToolsMapper" >

  <!--实体映射-->
  <resultMap id="BaseResultMap" type="com.inHere.entity.Tools" >
    <id column="tool_id" property="toolId" jdbcType="INTEGER" />
    <result column="tool_name" property="toolName" jdbcType="VARCHAR" />
    <result column="tool_pic" property="toolPic" jdbcType="VARCHAR" />
    <result column="tool_url" property="toolUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--查找工具列表-->
  <select id="selectTools" parameterType="Integer" resultMap="BaseResultMap">
    SELECT tl.* FROM tb_tools tl
    INNER JOIN tb_school_tools stl ON stl.`tool_id` = tl.`tool_id`
    AND stl.`school_id` = #{school_id}
  </select>







  <!-- 以下为自动生成代码 -->
  <sql id="Base_Column_List">tool_id,tool_name,tool_pic,tool_url,create_time,update_time</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_tools
    where tool_id = #{toolId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_tools
    where tool_id = #{toolId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.inHere.entity.Tools" >
    insert into tb_tools (tool_id, tool_name, tool_pic, 
      tool_url, create_time, update_time
      )
    values (#{toolId,jdbcType=INTEGER}, #{toolName,jdbcType=VARCHAR}, #{toolPic,jdbcType=VARCHAR}, 
      #{toolUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.inHere.entity.Tools" >
    insert into tb_tools
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="toolId != null" >
        tool_id,
      </if>
      <if test="toolName != null" >
        tool_name,
      </if>
      <if test="toolPic != null" >
        tool_pic,
      </if>
      <if test="toolUrl != null" >
        tool_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="toolId != null" >
        #{toolId,jdbcType=INTEGER},
      </if>
      <if test="toolName != null" >
        #{toolName,jdbcType=VARCHAR},
      </if>
      <if test="toolPic != null" >
        #{toolPic,jdbcType=VARCHAR},
      </if>
      <if test="toolUrl != null" >
        #{toolUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inHere.entity.Tools" >
    update tb_tools
    <set >
      <if test="toolName != null" >
        tool_name = #{toolName,jdbcType=VARCHAR},
      </if>
      <if test="toolPic != null" >
        tool_pic = #{toolPic,jdbcType=VARCHAR},
      </if>
      <if test="toolUrl != null" >
        tool_url = #{toolUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tool_id = #{toolId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inHere.entity.Tools" >
    update tb_tools
    set tool_name = #{toolName,jdbcType=VARCHAR},
      tool_pic = #{toolPic,jdbcType=VARCHAR},
      tool_url = #{toolUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where tool_id = #{toolId,jdbcType=INTEGER}
  </update>
</mapper>
