@import "../../common/common.scss";

$MAIN_COLOR: #00cc4d;

.login-wrapper {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .title {
    margin-top: pxToRem(66px);

    font-size: 0;
    color: $MAIN_COLOR;
    .logo {
      font-weight: bold;
      font-size: 2.5rem;
    }
    .text{
      font-weight: 400;
      font-size: 2.5rem;
    }
  }
  .login-input-field-wrapper {
    margin-top: pxToRem(39px);
    padding: 0 pxToRem(17px);
    box-sizing: border-box;
    width: 100%;
    .login-input-field {
      border: solid 1px $MAIN_COLOR;
      width: 100%;
      box-sizing: content-box;
      border-radius: $BORDER_RADIUS_SMALL;
      font-size: 0.9rem;
      color:#d0d0d0;

      .login-input-field-username {
        height: pxToRem(51px);
        line-height: pxToRem(51px);
        padding: 0 pxToRem(14px);
        border-bottom: solid 1px #cccccc;
        display: flex;
      }
      .login-input-field-password {
        padding: 0 pxToRem(14px);

        height: pxToRem(51px);
        line-height: pxToRem(51px);
        display: flex;
        border-bottom: solid 1px #cccccc;

      }
      .register-input-choose{
        width: 100%;
        white-space: nowrap;
        color:$MAIN_COLOR;
      }
      .input-title{
        flex-grow: 0;;
        width: 3rem;
      }
      input{
        &:focus{
          outline: none;
        }
        border: none;
        background-color: transparent;
        flex-grow: 1;
        margin: 0;
        padding:0 15px;
      }
    }

  }
  .btn{
    margin-top: 19px;
    width: 100%;
    background-color: $MAIN_COLOR;
    text-align: center;
    border-radius: $BORDER_RADIUS_SMALL;
    line-height: pxToRem(54px);
    height: pxToRem(54px);
    color: white;
    font-size: pxToRem(16px);
  }
  .register-hint{
    color: $MAIN_COLOR;
    position: fixed;
    bottom: pxToRem(19px);
    font-size: pxToRem(16px);
    left: 50%;
    transform: translateX(-50%);
  }
}
